@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf"); }
.clearfix {
  clear: both;
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Roboto;
  background-color: #ebebeb !important; }
  body .container-fluid {
    margin: 0 !important;
    padding: 0 !important; }
  body header {
    background-color: #ffffff; }
    body header .ctn_nav1 {
      width: 100%;
      height: 36px; }
      body header .ctn_nav1 .nav_1 {
        background: url("../img/wave1.png") top 0 left 0px no-repeat;
        padding-left: 6%;
        width: 77%;
        float: right;
        height: 36px;
        background-color: #009ffe;
        display: flex; }
        body header .ctn_nav1 .nav_1 .nav_1--left {
          width: 44%;
          float: left; }
          body header .ctn_nav1 .nav_1 .nav_1--left ul {
            list-style-type: none;
            display: flex;
            color: white;
            margin-bottom: 0px; }
            body header .ctn_nav1 .nav_1 .nav_1--left ul li {
              width: 25%;
              padding: 5px;
              text-align: center; }
              body header .ctn_nav1 .nav_1 .nav_1--left ul li a {
                font-size: 11px;
                text-decoration: none;
                color: white; }
                body header .ctn_nav1 .nav_1 .nav_1--left ul li a span {
                  margin-right: 3px;
                  position: relative;
                  top: -1px; }
        body header .ctn_nav1 .nav_1 .nav_1--right {
          width: 45%; }
          body header .ctn_nav1 .nav_1 .nav_1--right ul {
            list-style-type: none;
            display: flex;
            color: white;
            margin-bottom: 0px; }
            body header .ctn_nav1 .nav_1 .nav_1--right ul li {
              width: 50%;
              padding: 5px;
              text-align: center; }
              body header .ctn_nav1 .nav_1 .nav_1--right ul li a {
                text-decoration: none;
                color: white;
                line-height: 2px;
                font-size: 11px; }
                body header .ctn_nav1 .nav_1 .nav_1--right ul li a span {
                  margin-right: 3px;
                  position: relative;
                  top: -2px; }
    body header .container .row {
      padding: 0;
      display: flex; }
      body header .container .row .header_1 {
        display: inline-block;
        width: 22%;
        height: 30px; }
        body header .container .row .header_1 .logo {
          width: 90%; }
        body header .container .row .header_1 .menu {
          width: 90%;
          border: 2px solid #009ffe;
          margin: 10px 0px;
          border-radius: 5px 5px; }
          body header .container .row .header_1 .menu:active ~ .menu2 {
            display: block; }
          body header .container .row .header_1 .menu:hover ~ .menu2 {
            display: block; }
          body header .container .row .header_1 .menu .text_menu {
            display: flex;
            padding: 10px;
            height: 36px; }
            body header .container .row .header_1 .menu .text_menu .icon_menu {
              width: 7%;
              float: left;
              line-height: 1; }
            body header .container .row .header_1 .menu .text_menu .text_menu_a {
              width: 86%;
              text-align: center;
              color: #009ffe;
              font-weight: bold;
              line-height: 1;
              text-decoration: none; }
            body header .container .row .header_1 .menu .text_menu .icon_down {
              width: 7%;
              float: right;
              line-height: 1; }
        body header .container .row .header_1 .menu2 {
          position: absolute;
          display: none;
          z-index: 1;
          background-color: #ffffff;
          width: 230px;
          margin-top: 25px;
          border-radius: 5px; }
          body header .container .row .header_1 .menu2 .img_pos {
            position: absolute;
            top: -15px;
            left: 45%; }
          body header .container .row .header_1 .menu2 ul {
            margin: 0px;
            list-style-type: none; }
            body header .container .row .header_1 .menu2 ul li {
              padding: 15px 0px;
              margin: 0px 15px;
              border-bottom: 1px solid #dddddd; }
              body header .container .row .header_1 .menu2 ul li a {
                color: #333333;
                text-decoration: none;
                display: flex; }
                body header .container .row .header_1 .menu2 ul li a span {
                  margin-right: 10px; }
                  body header .container .row .header_1 .menu2 ul li a span img {
                    width: 17px;
                    height: 17px; }
              body header .container .row .header_1 .menu2 ul li:hover a {
                color: #329e6a; }
            body header .container .row .header_1 .menu2 ul .li--8 {
              border: none; }
      body header .container .row .header_2 {
        width: 78%;
        display: inline-block; }
        body header .container .row .header_2 .nav_2 {
          display: block;
          margin: 24px 0px 15px; }
          body header .container .row .header_2 .nav_2 .nav_2--left ul {
            display: flex;
            list-style-type: none;
            margin: 0px; }
            body header .container .row .header_2 .nav_2 .nav_2--left ul li {
              display: inline-block;
              float: left;
              width: 25%; }
              body header .container .row .header_2 .nav_2 .nav_2--left ul li span {
                margin-right: 5px;
                float: left; }
              body header .container .row .header_2 .nav_2 .nav_2--left ul li a {
                text-decoration: none; }
                body header .container .row .header_2 .nav_2 .nav_2--left ul li a p {
                  font-size: 12px;
                  float: none;
                  margin: 0; }
          body header .container .row .header_2 .nav_2 .nav_2--right {
            padding: 0; }
            body header .container .row .header_2 .nav_2 .nav_2--right ul {
              display: flex;
              list-style-type: none; }
              body header .container .row .header_2 .nav_2 .nav_2--right ul li {
                display: inline-block;
                float: right;
                width: 100%; }
                body header .container .row .header_2 .nav_2 .nav_2--right ul li span {
                  margin-right: 5px;
                  float: left; }
                body header .container .row .header_2 .nav_2 .nav_2--right ul li a {
                  float: right;
                  text-decoration: none; }
                  body header .container .row .header_2 .nav_2 .nav_2--right ul li a p {
                    font-size: 12px;
                    float: none;
                    margin: 0; }
        body header .container .row .header_2 .search_cart .search {
          padding: 0 15px 0 0; }
          body header .container .row .header_2 .search_cart .search .contain_input {
            border-radius: 5px;
            background-color: #ffffff;
            display: flex; }
            body header .container .row .header_2 .search_cart .search .contain_input .contain_input--1 {
              display: flex;
              width: 85%;
              background-color: #ffffff;
              border-radius: 5px 0 0 5px;
              border-left: 2px solid #dddddd;
              border-top: 2px solid #dddddd;
              border-bottom: 2px solid #dddddd;
              border-right: 2px solid #fff; }
              body header .container .row .header_2 .search_cart .search .contain_input .contain_input--1 .ct_input--1 {
                width: 70%; }
                body header .container .row .header_2 .search_cart .search .contain_input .contain_input--1 .ct_input--1 input.input_dangky {
                  border: 0;
                  width: 60%;
                  border-radius: 5px 0 0 5px;
                  padding-bottom: 10px;
                  padding-top: 10px;
                  width: 100%;
                  padding-left: 10px;
                  height: 100%; }
              body header .container .row .header_2 .search_cart .search .contain_input .contain_input--1 .ct_input--2 {
                width: 30%; }
                body header .container .row .header_2 .search_cart .search .contain_input .contain_input--1 .ct_input--2 span {
                  position: relative;
                  top: 0px;
                  color: #dddddd; }
                body header .container .row .header_2 .search_cart .search .contain_input .contain_input--1 .ct_input--2 select {
                  height: 100%;
                  margin-top: 0 !important;
                  border: 0;
                  border: none;
                  width: 95%;
                  padding: 0 10px; }
            body header .container .row .header_2 .search_cart .search .contain_input .contain_input--2 {
              width: 15%;
              border-radius: 5px; }
              body header .container .row .header_2 .search_cart .search .contain_input .contain_input--2 button.button_dangky {
                border-radius: 0 5px 5px 0;
                background-color: #009ffe;
                width: 100%;
                height: 100%;
                border: 0;
                line-height: 0;
                color: #ffffff; }
        body header .container .row .header_2 .search_cart .cart {
          background-color: #f0f0f0;
          border-radius: 5px;
          padding: 10px; }
          body header .container .row .header_2 .search_cart .cart a {
            display: flex; }
            body header .container .row .header_2 .search_cart .cart a span {
              margin-right: 5px;
              width: 20%; }
            body header .container .row .header_2 .search_cart .cart a p {
              margin: 0; }
            body header .container .row .header_2 .search_cart .cart a .cart_p1 {
              width: 60%; }
            body header .container .row .header_2 .search_cart .cart a .cart_p2 {
              width: 14%;
              background-color: #009ffe;
              border-radius: 50%;
              text-align: center;
              color: white; }
        body header .container .row .header_2 .status {
          margin-top: 5px; }
          body header .container .row .header_2 .status p {
            margin: 0;
            display: inline-block;
            color: #ff000e; }
  body a {
    text-decoration: none !important; }
  body section {
    padding: 20px 0 50px; }
    body section .container {
      padding: 0; }
      body section .container .col-md-12 {
        padding: 0; }
        body section .container .col-md-12 ._progress-bar {
          margin: 0;
          padding: 0;
          border-bottom: 1px solid #f7941e !important;
          width: 68%; }
          body section .container .col-md-12 ._progress-bar span {
            position: absolute;
            bottom: -7px;
            z-index: 1000;
            left: 67%; }
      body section .container #body-content .col-md-4, body section .container #body-content .col-md-3 {
        margin: 0;
        padding: 0; }
      @media only screen and (min-width: 1200px) {
        body section .container #body-content .col-md-8 {
          margin: 0;
          padding: 0 10px 0 0; } }
      @media only screen and (max-width: 1200px) and (min-width: 768px) {
        body section .container #body-content .col-md-8 {
          margin: 0;
          padding: 0; } }
      body section .container #body-content .body-content--1 {
        margin-bottom: 10px;
        background-color: #ffffff; }
        body section .container #body-content .body-content--1 h3 {
          margin: 0;
          padding: 10px 15px; }
          body section .container #body-content .body-content--1 h3 span small {
            color: #333333; }
        body section .container #body-content .body-content--1 hr {
          color: #dddddd;
          height: 1px;
          margin: 0;
          padding: 0; }
        body section .container #body-content .body-content--1 .giohang ul.list {
          list-style-type: none;
          float: none;
          margin: 0; }
          body section .container #body-content .body-content--1 .giohang ul.list li.list1 {
            padding: 15px;
            border-bottom: 1px solid #dddddd; }
            body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-a {
              margin: 0; }
            body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-b {
              margin-top: 10px; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-b a.ten-sach {
                display: block;
                color: #333333; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-b p {
                margin: 0; }
            body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-c {
              margin-top: 10px; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-c strong {
                color: #333333; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-c del {
                color: #999999; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-c p {
                color: #ce0021; }
            body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-d {
              margin: 5% 0; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-d ul.soluong {
                list-style-type: none; }
                body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-d ul.soluong li {
                  float: left;
                  border: 1px solid #cccccc;
                  padding: 1px 7px; }
                  body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-d ul.soluong li a {
                    color: #333333; }
                body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-d ul.soluong li.value {
                  padding: 1px 10px;
                  border-right: 0;
                  border-left: 0; }
            body section .container #body-content .body-content--1 .giohang ul.list li.list1 .list1-e {
              margin: 5% 0; }
          body section .container #body-content .body-content--1 .giohang ul.list li.list2 {
            padding: 15px; }
            body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-a {
              margin: 0; }
            body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-b {
              margin-top: 10px; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-b a.ten-sach {
                display: block;
                color: #333333; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-b p {
                margin: 0; }
            body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-c {
              margin-top: 10px; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-c strong {
                color: #333333; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-c del {
                color: #999999; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-c p {
                color: #ce0021; }
            body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-d {
              margin: 5% 0; }
              body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-d ul.soluong {
                list-style-type: none; }
                body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-d ul.soluong li {
                  float: left;
                  border: 1px solid #cccccc;
                  padding: 1px 7px; }
                  body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-d ul.soluong li a {
                    color: #333333; }
                body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-d ul.soluong li.value {
                  padding: 1px 10px;
                  border-right: 0;
                  border-left: 0; }
            body section .container #body-content .body-content--1 .giohang ul.list li.list2 .list2-e {
              margin: 5% 0; }
      body section .container #body-content .body-content--2 {
        padding: 20px;
        background-color: #ffffff; }
        body section .container #body-content .body-content--2 .row {
          padding: 0;
          margin: 0; }
          body section .container #body-content .body-content--2 .row ul {
            list-style-type: none;
            margin: 0; }
            body section .container #body-content .body-content--2 .row ul p {
              color: #333333; }
            body section .container #body-content .body-content--2 .row ul li.tam-tinh, body section .container #body-content .body-content--2 .row ul li.thanh-tien {
              padding: 10px 0px;
              border-bottom: 1px solid #dddddd; }
              body section .container #body-content .body-content--2 .row ul li.tam-tinh .text-left, body section .container #body-content .body-content--2 .row ul li.thanh-tien .text-left {
                text-align: left; }
              body section .container #body-content .body-content--2 .row ul li.tam-tinh .text-right, body section .container #body-content .body-content--2 .row ul li.thanh-tien .text-right {
                text-align: right; }
              body section .container #body-content .body-content--2 .row ul li.tam-tinh strong, body section .container #body-content .body-content--2 .row ul li.thanh-tien strong {
                color: #333333; }
            body section .container #body-content .body-content--2 .row ul li.thanh-tien {
              border-bottom: 0; }
              body section .container #body-content .body-content--2 .row ul li.thanh-tien strong {
                color: #ce0021; }
              body section .container #body-content .body-content--2 .row ul li.thanh-tien small {
                display: block; }
        body section .container #body-content .body-content--2 button.confirm {
          float: right;
          width: 100%;
          background-color: #ed0000;
          padding: 4px 0px;
          color: #ffffff;
          height: 45px;
          border: 0;
          border-radius: 0; }
        body section .container #body-content .body-content--2 #exampleModal .modal-dialog {
          width: 800px; }
          body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content {
            border-radius: 0;
            background-color: #ffffff;
            border: 0; }
            body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-header {
              border: 0; }
            body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body {
              border: 0;
              padding: 0; }
              body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left {
                padding: 40px;
                background-color: #ffffff;
                border: 0; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left h3 {
                  margin: 0;
                  padding: 0 0 15px;
                  border-bottom: 1px solid #dddddd; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left button {
                  border-radius: 0;
                  box-shadow: 0; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left p.p-input {
                  padding: 0;
                  margin: 0;
                  text-align: left;
                  display: inline-block; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left a.forget_password {
                  float: right;
                  display: inline-block; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left input {
                  margin: 5px 0px 12px;
                  display: block;
                  width: 100%;
                  height: 40px;
                  padding: 15px; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left small.small {
                  text-align: center;
                  display: block;
                  color: #999999; }
                  @media only screen and (min-width: 1000px) and (max-width: 1200px) {
                    body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left small.small {
                      padding: 26px 0px;
                      font-size: 10.5px; }
                      body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left small.small:before {
                        display: inline-block;
                        content: "____________";
                        position: relative;
                        top: -7px;
                        left: 0;
                        margin-right: 9px; }
                      body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left small.small:after {
                        content: "____________";
                        position: relative;
                        top: -7px;
                        right: 0;
                        margin-left: 4px;
                        display: inline-block; } }
                  @media only screen and (max-width: 1000px) {
                    body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left small.small {
                      padding: 15px 0px;
                      font-size: 13px; }
                      body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left small.small:before {
                        display: inline-block;
                        content: "____________";
                        position: relative;
                        top: -7px;
                        left: 0;
                        margin-right: 9px; }
                      body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left small.small:after {
                        display: inline-block;
                        content: "____________";
                        position: relative;
                        top: -7px;
                        right: 0;
                        margin-left: 4px; } }
                  @media only screen and (min-width: 1000px) {
                    body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left small.small {
                      padding: 15px 0px;
                      font-size: 13px; }
                      body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left small.small:before {
                        display: inline-block;
                        content: "____________";
                        position: relative;
                        top: -7px;
                        left: 0;
                        margin-right: 9px; }
                      body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left small.small:after {
                        display: inline-block;
                        content: "____________";
                        position: relative;
                        top: -7px;
                        right: 0;
                        margin-left: 4px; } }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left button.button-signin {
                  text-align: center;
                  display: block;
                  margin: 0 auto;
                  width: 100%;
                  background-color: #f7941e;
                  color: #ffffff;
                  font-weight: normal;
                  padding: 10px; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left button.button-google {
                  float: right;
                  width: 47.67%;
                  color: #333333;
                  height: 35px;
                  background-color: #ffffff;
                  font-size: 12px; }
                  body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left button.button-google img {
                    height: 15px;
                    width: 15px;
                    margin-top: -2px; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left button.button-facebook {
                  width: 47.67%;
                  float: left;
                  height: 35px;
                  background-color: #39579a;
                  color: #ffffff;
                  font-size: 12px; }
                  body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-left button.button-facebook img {
                    margin-top: -2px;
                    height: 15px;
                    width: 15px; }
              body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-right {
                background-color: #f5f5f5;
                border: 0;
                padding: 40px; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-right h3 {
                  margin: 0;
                  padding: 0 0 15px; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-right p {
                  padding: 0;
                  text-align: left;
                  margin: 0px; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-right input {
                  margin: 5px 0px 12px;
                  display: block;
                  width: 100%;
                  height: 40px;
                  padding: 15px;
                  border: 0; }
                body section .container #body-content .body-content--2 #exampleModal .modal-dialog .modal-content .modal-body .modal-body-right button {
                  text-align: center;
                  display: block;
                  margin: 0 auto;
                  width: 100%;
                  background-color: #f7941e;
                  color: #ffffff;
                  font-weight: normal;
                  padding: 10px;
                  border-radius: 0; }
  body .container-fluid {
    margin: 0 !important;
    padding: 0 !important; }
  body footer .container {
    padding: 0; }
  body footer .top_footer {
    background-color: #00f38d;
    padding: 15px 0px; }
    @media only screen and (min-width: 1200px) {
      body footer .top_footer .container {
        display: flex; } }
    body footer .top_footer .container .top_footer--1 {
      padding: 0; }
      body footer .top_footer .container .top_footer--1 h4 {
        display: inline-block;
        color: #ffffff;
        font-weight: bold;
        font-size: 14px; }
      body footer .top_footer .container .top_footer--1 .contain_input {
        background-color: #ffffff;
        display: flex; }
        body footer .top_footer .container .top_footer--1 .contain_input .contain_input--1 {
          width: 80%;
          background-color: #ffffff; }
          body footer .top_footer .container .top_footer--1 .contain_input .contain_input--1 input.input_dangky {
            border: 1px solid #fff;
            padding-bottom: 10px;
            padding-top: 10px;
            width: 100%;
            padding-left: 10px;
            height: 100%; }
        body footer .top_footer .container .top_footer--1 .contain_input .contain_input--2 {
          width: 20%; }
          body footer .top_footer .container .top_footer--1 .contain_input .contain_input--2 button.button_dangky {
            background-color: #009ffe;
            width: 100%;
            height: 100%;
            border: 0;
            line-height: 0;
            color: #ffffff; }
    body footer .top_footer .container .top_footer--2 h4 {
      display: inline-block;
      color: #ffffff;
      font-weight: bold;
      font-size: 14px; }
    body footer .top_footer .container .top_footer--2 .footer--contain_list {
      margin-top: 7px;
      display: flex; }
      body footer .top_footer .container .top_footer--2 .footer--contain_list .contain_icon {
        width: 22%;
        margin-right: 10px; }
        body footer .top_footer .container .top_footer--2 .footer--contain_list .contain_icon a img {
          width: 100%; }
    body footer .top_footer .container .top_footer--3 {
      padding: 0; }
      body footer .top_footer .container .top_footer--3 h4 {
        font-size: 14px;
        display: inline-block;
        color: #ffffff;
        font-weight: bold; }
      body footer .top_footer .container .top_footer--3 .footer--contain_list {
        margin-top: 7px;
        display: flex; }
        body footer .top_footer .container .top_footer--3 .footer--contain_list .contain_icon {
          width: 22%;
          margin-right: 10px; }
          body footer .top_footer .container .top_footer--3 .footer--contain_list .contain_icon a img {
            width: 100%; }
  body footer .body_footer {
    background-color: #009ffe;
    padding: 10px 0px; }
    body footer .body_footer .body_footer--1, body footer .body_footer .body_footer--2, body footer .body_footer .body_footer--3 {
      padding: 0; }
      body footer .body_footer .body_footer--1 h4, body footer .body_footer .body_footer--2 h4, body footer .body_footer .body_footer--3 h4 {
        color: #fff;
        font-size: 14px;
        font-weight: bold; }
      body footer .body_footer .body_footer--1 ul, body footer .body_footer .body_footer--2 ul, body footer .body_footer .body_footer--3 ul {
        list-style-type: none; }
        body footer .body_footer .body_footer--1 ul li, body footer .body_footer .body_footer--2 ul li, body footer .body_footer .body_footer--3 ul li {
          float: none;
          padding-top: 2px;
          padding-bottom: 2px; }
          body footer .body_footer .body_footer--1 ul li a, body footer .body_footer .body_footer--2 ul li a, body footer .body_footer .body_footer--3 ul li a {
            font-size: 12px;
            display: block;
            text-decoration: none;
            color: #bfe6ff; }
            body footer .body_footer .body_footer--1 ul li a:hover, body footer .body_footer .body_footer--2 ul li a:hover, body footer .body_footer .body_footer--3 ul li a:hover {
              color: orange; }
    body footer .body_footer .body_footer--4 {
      padding: 0; }
      body footer .body_footer .body_footer--4 h4 {
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: bold; }
      body footer .body_footer .body_footer--4 .list_community {
        display: block; }
        body footer .body_footer .body_footer--4 .list_community ul {
          display: block;
          margin: 0 auto;
          width: 60%;
          list-style-type: none; }
          body footer .body_footer .body_footer--4 .list_community ul li {
            float: left;
            width: 25%;
            text-align: center; }
      body footer .body_footer .body_footer--4 .bigFour {
        margin-top: 10px; }
        body footer .body_footer .body_footer--4 .bigFour ul li.lazada {
          width: 47%;
          margin: 10px 3% 5px 0;
          display: inline-block;
          float: left; }
        body footer .body_footer .body_footer--4 .bigFour ul li.shopee {
          width: 47%;
          margin: 10px 0 5px;
          display: inline-block;
          float: left; }
        body footer .body_footer .body_footer--4 .bigFour ul li.sendo {
          width: 47%;
          margin: 5px 3% 5px 0;
          display: inline-block;
          float: left; }
        body footer .body_footer .body_footer--4 .bigFour ul li.tiki {
          width: 47%;
          margin: 5px 0;
          display: inline-block;
          float: left; }
  body footer .bottom_footer {
    padding-top: 5px;
    background-color: #018fe4; }
    body footer .bottom_footer h5 {
      color: #7ed2fd;
      text-align: center;
      font-size: 12px;
      margin: 0 0 5px 0; }

/*# sourceMappingURL=giohang.css.map */
