@font-face {
    font-family: Roboto;
    font-weight: normal;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

.clearfix {
    clear: both;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto;
    background-color: #f4f4f4;
    .container-fluid{
    margin:0!important;
    padding:0!important;
}
header {
    background-color: #ffffff;
    .ctn_nav1{
        width:100%;
        height:36px;
        .nav_1{
            background:url('../img/wave1.png') top 0 left 0px no-repeat;
            padding-left:6%;
            width:77%;;
            float:right;
            height:36px;
                    background-color: #009ffe;
                    display:flex;
                    .nav_1--left{
                        
                        width:44%;
                        float:left;
                        ul{
                            list-style-type: none;
                            display: flex;
                            color:white ;
                            margin-bottom: 0px;
                            li{

                                width:25%;
                                padding:5px;
                                text-align: center;
                                a{
                                    span{
                                    margin-right: 3px;
                                    position:relative;
                                    top:-1px;
                                    img{

                                    }
                                }
                                    font-size: 11px;
                                    text-decoration: none;
                                    color:white;
                                }
                            }
                        }
                    }
                    .nav_1--right{
                        width:45%;
                        ul{
                            list-style-type: none;
                            display: flex;
                            color:white ;
                            margin-bottom: 0px;
                            li{
                                width:50%;
                                padding:5px;
                                text-align: center;
                                a{
                                    span{
                                    margin-right: 3px;
                                    position:relative;
                                    top:-2px;
                                    img{

                                    }}
                                    text-decoration: none;
                                    color:white;
                                    line-height: 2px;
                                    font-size: 11px;
                                }
                            }

                        }
                    }
                }
    }
    .container{
        .row{
            padding:0;
            display:flex;
            .header_1{
            display: inline-block;
            width:22%;
            height:30px;
            .logo{
                width:90%;
            }
            .menu{
                width:90%;
                border: 2px solid #009ffe;
                margin:10px 0px;
                border-radius: 5px 5px;
                &:active~.menu2{
                    display: block;
                }
                &:hover~.menu2{
                    display: block;
                }
                .text_menu{
                    display:flex;
                    padding:10px;
                    height:36px;
                    .icon_menu{
                        width:7%;
                        float:left;
                        line-height: 1;
                    }
                    .text_menu_a{
                        width:86%;
                        text-align: center;
                        color:#009ffe;
                        font-weight: bold;
                        line-height: 1;
                        text-decoration: none;
                    }
                    .icon_down{
                        width:7%;
                        float:right;
                        line-height: 1;
                    }
                }
            }
            .menu2{
                position:absolute;
                z-index:1;
                display:none;
                background-color: #ffffff;
                width:230px;
                margin-top:25px;
                border-radius:5px;
                .img_pos{
                    position:absolute;top:-15px;left:45%;
                }
                ul{
                    margin:0px;
                    list-style-type: none;
                    li{
                        padding:15px 0px;
                        margin:0px 15px;
                        border-bottom:1px solid #dddddd;
                        a{
                            color:#333333;
                            text-decoration: none;
                            display: flex;
                            span{
                                margin-right:10px;
                                img{
                                    width:17px;
                                    height:17px;
                                }
                            }
                        }
                        &:hover{
                            a{
                                color: #329e6a;
                            }
                            

                        }

                    }
                    .li--8{
                        border:none;
                    }
                }
            }
            }
            .header_2{

                width:78%;
                display: inline-block;
                .nav_2{
                    display:block;
                    margin: 24px 0px 15px;
                    .nav_2--left{
                        ul{
                            display: flex;
                            list-style-type: none;
                            margin:0px;
                            li{
                                display:inline-block;
                                float:left;
                                width:25%;
                                span{
                                    margin-right: 5px;
                                    float:left;
                                    img{

                                    }
                                }
                                a{
                                    text-decoration: none;
                                    p{
                                        font-size: 12px;
                                        float:none;
                                        margin:0;
                                    }
                                }
                            }
                        }
                    }
                    .nav_2--right{
                        padding:0;
                        ul{
                            display: flex;
                            list-style-type: none;
                            li{
                                display:inline-block;
                                float:right;
                                width:100%;
                                span{
                                    margin-right: 5px;
                                    float:left;
                                    img{

                                    }
                                }
                                a{
                                    float:right;
                                    text-decoration: none;
                                    p{
                                        font-size: 12px;
                                        float:none;
                                        margin:0;
                                    }
                                }
                            }
                        }
                    }
                }
                .search_cart{

                    .search{
                        padding:0 15px 0 0;
                        .contain_input{
                            border-radius:5px;
                            background-color: #ffffff;
                            display: flex;
                        .contain_input--1{
                            display: flex;
                            width:85%;
                            background-color: #ffffff;
                            border-radius:5px 0 0 5px;
                            border-left:2px solid #dddddd;
                                border-top:2px solid #dddddd;
                                border-bottom:2px solid #dddddd;
                                border-right:2px solid #fff;
                            .ct_input--1{
                                width:70%;
                                input.input_dangky{
                                    border:0;
                                    width:60%;
                                    border-radius:5px 0 0 5px;
                                    padding-bottom: 10px;
                                    padding-top: 10px;
                                    width:100%;
                                    padding-left: 10px;
                                    height:100%;
                                }
                            }
                            .ct_input--2{
                                width:30%;
                                span{
                                    position: relative;
                                    top:0px;
                                    color:#dddddd;
                                }
                                select{
                                    height:100%;
                                    margin-top:0 !important;
                                    border:0;
                                    border: none;width:95%;padding:0 10px;
                                }
                            }
                        }
                        .contain_input--2{
                            width:15%;
                            border-radius:5px;
                            button.button_dangky{
                                border-radius:0 5px 5px 0;
                                background-color: #009ffe;;
                                width:100%;
                                height:100%;
                                border:0;
                                line-height: 0;
                                color:#ffffff;
                            }
                        }
                    
                        }
                    }
                    .cart{
                        background-color: #f0f0f0;
                        border-radius:5px;
                        padding: 10px;
                        a{
                            display: flex;
                            span{
                                margin-right:5px;
                                width:20%;
                            }
                            p{
                                margin:0;
                            }
                            .cart_p1{
                                width:60%;
                            }
                            .cart_p2{
                                width:14%; background-color: #009ffe;border-radius:50%;text-align: center;color:white;
                            }
                        }
                    }
                }
                .status{
                    margin-top:5px;
                    p{
                        margin:0;
                        display: inline-block;
                        color:#ff000e;
                    }
                }
            }
        }
    }
}

    section {
        .container {
            padding: 0;

            nav {
                ol {
                    margin: 0 !important;
                    padding: 10px 0px;

                    span {
                        font-size: 12px;
                        margin: 0px 2px;
                    }

                    li {

                        a {
                            text-decoration: none;
                        }

                        #non-active {
                            color: #666666;

                            &:hover {
                                color: #000000;
                            }
                        }

                        #active {
                            color: #000000;
                        }
                    }
                }
            }

            .content1 {
                margin-bottom: 15px;
                padding: 15px;
                background-color: #ffffff;

                .content1_a {
                    .content1_a--top {
                        width: 100%;
                    }

                    .content1_a--bottom {
                        width: 100%;
                        height: 90px;

                        #myCarousel {
                            height: 100%;

                            .carousel-inner {
                                height: 100%;

                                .item {
                                    height: 100%;

                                    .list_slide {
                                        width: 100%;
                                        display: flex;
                                        height: 88%;
                                        padding: 0px 10px;

                                        .one_image {
                                            width: 20%;
                                            height: 100%;
                                            margin: 2.5%;
                                            overflow: hidden;
                                            img{
                                                width:100%;
                                                height:100%;
                                            }
                                        }
                                    }
                                }
                            }

                            a.left {
                                position: absolute;
                                top: 30%;
                                left: 0;
                            }

                            a.right {
                                position: absolute;
                                top: 30%;
                                right: 0;
                            }
                        }
                    }
                }

                .content1_b {

                    .content1_b--1 {
                        border-bottom: 1px solid #dddddd;

                        h5 {
                            margin-top: 0;
                            font-weight: bold;
                        }

                        span {
                            color: #8d8d8d;
                        }

                        .danhgia_conhang {
                            display: flex;
                            align-items: baseline;

                            .ctn_star {
                                width: 70%;
                                float: left;

                                p {
                                    display: inline-block;
                                    margin: 0;
                                }
                            }

                            .conhang {
                                float: right;
                                width: 30%;

                                img,
                                span {
                                    float: right;
                                }

                                span {
                                    color: #58b5fe;
                                }
                            }
                        }

                        .thuonghieu {
                            margin-top: 10px;
                            margin-bottom: 10px;

                            p {
                                display: inline-block;
                                margin: 0;
                            }

                            p.masanpham {
                                margin-left: 15px;
                            }
                        }
                    }

                    .content1_b--2 {
                        padding: 10px 0px;
                        border-bottom: 1px solid #dddddd;

                        ul {
                            margin: 0;

                            li {
                                p {
                                    margin: 5px 0px;

                                    span {
                                        margin-right: 5px;

                                        img {
                                            width: 5px;
                                            height: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .content1_b--3 {
                        padding: 15px 0px;

                        .oneline {
                            display: flex;

                            strong {
                                color: #009ffe;
                                float: left;
                            }

                            h5 {
                                margin: 0;
                                display: inline-block;
                                float: left;
                                margin-left: 15px;
                                color: #ed0000;
                                font-weight: bold;
                                font-size: 18px;

                                span {
                                    margin-right: 5px;
                                }
                            }
                        }

                        ul {
                            li {
                                margin: 10px 0px;

                                span {
                                    background-color: #009ffe;
                                    color: #fff;
                                    padding: 4px 7px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }

                .content1_c {
                    .content1_c--1 {
                        width: 100%;

                        table {
                            width: 100%;

                            tr {

                                td {
                                    padding: 0px 0px 10px;
                                }

                                td.td_left {
                                    p {
                                        margin: 0;

                                        span {
                                            margin-right: 5px;

                                            img {
                                                width: 5px;
                                                height: 5px;
                                            }
                                        }
                                    }
                                }

                                td.td_right {
                                    p {
                                        text-align: right;
                                        display: block;
                                        margin: 0;

                                        span {
                                            color: #999999;
                                        }
                                    }

                                    strong {
                                        text-align: right;
                                        display: block;
                                        margin: 0;
                                        color: #ed0000;
                                        font-size: 18px;
                                    }
                                }

                                td.td_choice {
                                    ul {
                                        list-style-type: none;
                                        display: flex;
                                        float: right;

                                        li {
                                            padding: 5px 10px;
                                            float: left;
                                            border: 1px solid #dddddd;
                                        }

                                        li.li_result {
                                            padding: 5px 20px;
                                            border-left: 0;
                                            border-right: 0;

                                            a {
                                                color: #000;
                                                font-weight: bold;
                                                text-decoration: none;
                                            }
                                        }

                                        li.li_up,
                                        li.li_down {
                                            a {
                                                color: #999999;
                                                font-weight: bold;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        button.button_1 {
                            width: 100%;
                            background-color: #ed0000;
                            padding: 10px;
                            border: 0;
                            margin: 5px 0px;
                            color: #ffffff;
                            border-radius: 5px;

                            span {
                                margin-right: 10px;
                            }

                            p {
                                display: inline-block;
                                margin-bottom: 0;
                            }
                        }

                        button.button_2 {
                            width: 100%;
                            background-color: #009ffe;
                            padding: 10px;
                            border: 0;
                            margin: 5px 0px;
                            color: #ffffff;
                            border-radius: 5px;

                            span {
                                margin-right: 10px;
                            }

                            p {
                                display: inline-block;
                                margin-bottom: 0;
                            }
                        }

                        .community {
                            padding: 10px 0px;
                            border-bottom: 1px solid #dddddd;

                            ul {
                                list-style-type: none;
                                display: flex;
                                margin: 0px;

                                li {
                                    float: right;
                                    margin-right: 10px;

                                    span {
                                        margin-right: 5px;

                                        img {
                                            width: 15px;
                                            height: 15px;
                                        }
                                    }

                                    a {
                                        img {
                                            width: 25px;
                                            height: 25px;
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .content1_c--2 {
                        margin: 10px 0px;

                        ul {
                            li {
                                padding: 5px 0px;

                                a {
                                    text-decoration: none;
                                    color: #333333;

                                    span {
                                        margin-right: 10px;

                                        img {
                                            width: 25px;
                                            height: 25px;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }

            .content2 {
                padding: 15px;
                background-color: #ffffff;
                margin-top: 15px;

                h4,
                h5 {
                    font-weight: bold;
                }
            }

            .content3 {
                background-color: #fff;
                margin-top: 15px;

                .title {
                    width: 100%;
                    border-bottom: 1px solid #eeeeee;

                    h4 {
                        padding: 0px 15px;
                        font-weight: bold;
                    }
                }

                .slide_product {
                    width: 100%;
                    height: 300px;

                    #myCarousel2 {
                        height: 100%;

                        .carousel-inner {
                            height: 100%;

                            .item {
                                height: 100%;

                                .list_slide--product {
                                    width: 100%;
                                    display: flex;
                                    height: 100%;
                                    padding: 20px 10px 0px;

                                    .one_product {
                                        width: 15%;
                                        height: 90%;
                                        margin: 0.8%;
                                        overflow: hidden;
                                        padding: 10px;

                                        a {
                                            img {
                                                width: 100%;
                                                height: 60%;
                                            }
                                        }

                                        p {
                                            width: 100%;
                                            margin: 10px 0px;
                                        }

                                        strong {
                                            color: red;
                                            display: inline-block;
                                            font-weight: 600;
                                        }

                                        del {
                                            color: #c7c7c7;
                                            display: inline-block;
                                        }

                                        &:hover {
                                            transition-property: all;
                                            transition-duration: 0.3s;
                                            transition-timing-function: ease;
                                            transition-delay: 0s;
                                            -webkit-box-shadow: 1px 5px 10px -1px rgba(0, 0, 0, 0.5);
                                            -moz-box-shadow: 1px 5px 10px -1px rgba(0, 0, 0, 0.5);
                                            box-shadow: 1px 5px 10px -1px rgba(0, 0, 0, 0.5);
                                        }
                                    }
                                }
                            }
                        }

                        .carousel-control {
                            width: 5%;
                        }
                    }
                }
            }

            .content4 {
                background-color: #fff;
                margin: 15px 0px;

                .title {
                    width: 100%;
                    border-bottom: 1px solid #eeeeee;

                    h4 {
                        padding: 0px 15px;
                        font-weight: bold;
                    }
                }

                .content4_b {
                    border-bottom: 1px solid #dddddd;

                    .content4_b--1 {
                        padding-bottom: 10px;

                        p {
                            text-align: center;
                            font-weight: bold;
                            color: #333333;
                            margin: 10px 0px;
                        }

                        strong {
                            display: block;
                            font-size: 45px;
                            color: #ed0000;
                            text-align: center;
                        }

                        .ctn_star {
                            display: flex;
                            justify-content: center;
                            padding: 0px 0px 10px;
                        }

                        span {
                            display: block;
                            margin: 0 auto;
                            text-align: center;
                        }
                    }

                    .content4_b--2 {
                        border-left: 1px solid #dddddd;
                        border-right: 1px solid #dddddd;
                        padding: 30px;

                        .row {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            .number_star {
                                display: flex;
                                justify-content: center;
                                text-align: center;
                                width: 10%;

                                img {
                                    width: 15px;
                                    height: 15px;
                                    margin-top: -3px;
                                }
                            }

                            .content4_b--2__oneline {
                                height: 10px;
                                width: 80%;

                                .progress {
                                    width: 100%;
                                    height: 10px;
                                }

                                .progress-bar {
                                    height: 10px;
                                    background-color: #ed0000;
                                }
                            }
                        }

                    }

                    .content4_b--3 {
                        padding: 30px;

                        p {
                            text-align: center;
                        }

                        button.button_chiase {
                            width: 100%;
                            background-color: #009ffe;
                            padding: 10px;
                            border: 0;
                            margin: 5px 0px;
                            color: #ffffff;
                            border-radius: 5px;

                            span {
                                margin-right: 10px;
                            }

                            p {
                                display: inline-block;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .content4_c {
                    padding: 15px;

                    .content4_c--title {
                        margin-bottom: 10px;
                        display: flex;
                        flex-wrap: wrap;

                        p {
                            display: inline-block;
                            margin: 0;
                            line-height: 2;
                        }

                        .btn-group {
                            margin: 0px 10px;

                            button {
                                span {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }

                .content4_d {
                    .one_comment {
                        padding: 10px 0px;

                        .content4_d--left {
                            .btn_avatar {
                                img {
                                    display: block;
                                    margin: 0 auto;
                                }
                            }

                            p {
                                text-align: center;
                                color: #333333;
                                margin: 5px 0px;
                                font-weight: bold;
                            }

                            span {
                                display: block;
                                text-align: center;
                                color: #999999;
                            }
                        }

                        .p_comment {
                            margin: 0px;
                        }

                        .content4_d--right {
                            .display_flex {
                                display: flex;

                                p {
                                    margin: 0px;
                                    font-weight: bold;
                                }

                                .display_flex--1 {
                                    width: 130px;

                                    img {
                                        width: 15px;
                                        height: 15px;
                                    }

                                }

                                a {
                                    text-decoration: none;
                                    color: #999999;

                                    &:hover {
                                        color: #009ffe;
                                    }
                                }

                                .display_flex--2 {
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }

                .content4_e {
                    .contain_pagi {
                        display: block;
                        margin: 15px auto;
                        width: 100%;

                        .pagi {
                            width:25%;
                            float:right;
                            margin: 0 auto;

                            li {
                                border-radius: 5px;
                                display: inline-block;
                                float: left;
                                margin: 5px;
                                padding: 5px;
                                background-color: #e9e9e9;

                                a {
                                    color: #333333;
                                    margin: 0px 5px;
                                    text-decoration: none;
                                }

                                &:hover {
                                    background-color: #009ffe;

                                    a {
                                        color: #fff;
                                    }
                                }
                            }

                            #checked1 {
                                background-color: #009ffe !important;

                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .content5 {
                background-color: #fff;
                margin-top: 15px;
                margin-bottom:15px;

                .title {
                    width: 100%;
                    border-bottom: 1px solid #eeeeee;

                    h4 {
                        padding: 0px 15px;
                        font-weight: bold;
                    }
                }
                .list_product{
                        .product{
                            padding:20px;
                            p{
                                width:100%;
                                margin:10px 0px;
                            }
                            strong{
                                color:red;
                                display:inline-block;
                                font-weight: 600;
                            }
                            del{
                                color:#c7c7c7;
                                display:inline-block;
                            }
                            &:hover{
                                transition-property: all;
                                transition-duration: 0.3s;
                                transition-timing-function: ease;
                                transition-delay: 0s;
                                -webkit-box-shadow: 1px 5px 10px -1px rgba(0, 0, 0, 0.5);
                                -moz-box-shadow: 1px 5px 10px -1px rgba(0, 0, 0, 0.5);
                                box-shadow: 1px 5px 10px -1px rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
            }
        }
    }
    .container-fluid{
    margin:0!important;
    padding:0!important;
}
footer {
    .container{
        padding:0;
    }
    .top_footer{
        background-color: #00f38d;
        padding: 15px 0px;
        @media only screen and (min-width: 1200px){
            .container{
                display: flex;
            }
        }
        .container{
            .top_footer--1{
                padding:0;
                h4{
                    display:inline-block;
                    color:#ffffff;
                    font-weight: bold;
                    font-size: 14px;
                }
                .contain_input{
                    background-color: #ffffff;
                    display: flex;
                    .contain_input--1{
                        width:80%;
                        background-color: #ffffff;
                        input.input_dangky{
                            border:1px solid #fff;
                            padding-bottom: 10px;
                            padding-top: 10px;
                            width:100%;
                            padding-left: 10px;
                            height:100%;
                        }
                    }
                    .contain_input--2{
                        width:20%;
                        
                        button.button_dangky{
                            background-color: #009ffe;
                            width:100%;
                            height:100%;
                            border:0;
                            line-height: 0;
                            color:#ffffff;
                        }
                    }
                    
                }
            }
            .top_footer--2{
                h4{
                    display:inline-block;
                    color:#ffffff;
                    font-weight: bold;
                    font-size: 14px;
                }
                .footer--contain_list{
                    margin-top:7px;
                    display:flex;
                    .contain_icon{
                        width:22%;
                        margin-right:10px;
                        a{
                            img{
                                width:100%;
                            }
                        }
                    }
                }
            }
            .top_footer--3{
                padding:0;
                h4{
                    font-size: 14px;
                    display:inline-block;
                    color:#ffffff;
                    font-weight: bold;
                }
                .footer--contain_list{
                    margin-top:7px;
                    display:flex;
                    .contain_icon{
                        width:22%;
                        margin-right:10px;
                        a{
                            img{
                                width:100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .body_footer{
        background-color: #009ffe;
        padding:10px 0px;
        .body_footer--1{
            padding:0;
            h4{
                color:#fff;
                font-size: 14px;
                font-weight: bold;
            }
            ul{
                list-style-type: none;
                li{
                    float:none;
                    padding-top:2px;
                    padding-bottom:2px;
                    a{
                        font-size: 12px;
                        display:block;
                        text-decoration: none;
                        color:#bfe6ff;
                        &:hover{
                            color:orange;
                        }
                    }
                }
            }
        }
        .body_footer--2,.body_footer--3{
            @extend .body_footer--1;
        }
        .body_footer--4{
            padding:0;
            h4{
                text-align: center;
                color:#fff;
                font-size: 14px;
                font-weight: bold;
            }
            .list_community{
                display: block;
                ul{
                    display:block;
                    margin:0 auto;
                    width:60%;
                    list-style-type: none;
                    li{
                        float:left;width:25%;text-align: center;
                        a{

                        }
                    }
                }
            }
            .bigFour{
                margin-top:10px;
                ul{
                    li.lazada{
                        width:47%;margin:10px 3% 5px 0;display: inline-block; float:left;
                    }
                    li.shopee{
                        width:47%;margin:10px 0 5px;display: inline-block; float:left;
                    }
                    li.sendo{
                        width:47%;margin:5px 3% 5px 0;display: inline-block; float:left;
                    }
                    li.tiki{
                        width:47%;margin:5px 0;display: inline-block; float:left;
                    }
                }
            }
        }
    }
    .bottom_footer{
        padding-top: 5px;
        background-color: #018fe4;
        h5{
            color:#7ed2fd; text-align: center;font-size: 12px;
            margin:0 0 5px 0;
        }
    }
}
}