@font-face {
    font-family: Roboto;
    font-weight: normal;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

.clearfix {
    clear: both;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

    body{
        font-family: Roboto;
        background-color: #ebebeb !important;
        a {
            text-decoration: none!important;
        }

        .container-fluid{
    margin:0!important;
    padding:0!important;
}
header {
    background-color: #ffffff;
    .ctn_nav1{
        width:100%;
        height:36px;
        .nav_1{
            background:url('../img/wave1.png') top 0 left 0px no-repeat;
            padding-left:6%;
            width:77%;;
            float:right;
            height:36px;
                    background-color: #009ffe;
                    display:flex;
                    .nav_1--left{
                        
                        width:44%;
                        float:left;
                        ul{
                            list-style-type: none;
                            display: flex;
                            color:white ;
                            margin-bottom: 0px;
                            li{

                                width:25%;
                                padding:5px;
                                text-align: center;
                                a{
                                    span{
                                    margin-right: 3px;
                                    position:relative;
                                    top:-1px;
                                    img{

                                    }
                                }
                                    font-size: 11px;
                                    text-decoration: none;
                                    color:white;
                                }
                            }
                        }
                    }
                    .nav_1--right{
                        width:45%;
                        ul{
                            list-style-type: none;
                            display: flex;
                            color:white ;
                            margin-bottom: 0px;
                            li{
                                width:50%;
                                padding:5px;
                                text-align: center;
                                a{
                                    span{
                                    margin-right: 3px;
                                    position:relative;
                                    top:-2px;
                                    img{

                                    }}
                                    text-decoration: none;
                                    color:white;
                                    line-height: 2px;
                                    font-size: 11px;
                                }
                            }

                        }
                    }
                }
    }
    .container{
        .row{
            padding:0;
            display:flex;
            .header_1{
            display: inline-block;
            width:22%;
            height:30px;
            .logo{
                width:90%;
            }
            .menu{
                width:90%;
                border: 2px solid #009ffe;
                margin:10px 0px;
                border-radius: 5px 5px;
                &:active~.menu2{
                    display: block;
                }
                &:hover~.menu2{
                    display: block;
                }
                .text_menu{
                    display:flex;
                    padding:10px;
                    height:36px;
                    .icon_menu{
                        width:7%;
                        float:left;
                        line-height: 1;
                    }
                    .text_menu_a{
                        width:86%;
                        text-align: center;
                        color:#009ffe;
                        font-weight: bold;
                        line-height: 1;
                        text-decoration: none;
                    }
                    .icon_down{
                        width:7%;
                        float:right;
                        line-height: 1;
                    }
                }
            }
            .menu2{
                position:absolute;
                z-index:2;
                display:none;
                background-color: #ffffff;
                width:230px;
                margin-top:25px;
                border-radius:5px;
                .img_pos{
                    position:absolute;top:-15px;left:45%;
                }
                ul{
                    margin:0px;
                    list-style-type: none;
                    li{
                        padding:15px 0px;
                        margin:0px 15px;
                        border-bottom:1px solid #dddddd;
                        a{
                            color:#333333;
                            text-decoration: none;
                            display: flex;
                            span{
                                margin-right:10px;
                                img{
                                    width:17px;
                                    height:17px;
                                }
                            }
                        }
                        &:hover{
                            a{
                                color: #329e6a;
                            }
                            

                        }

                    }
                    .li--8{
                        border:none;
                    }
                }
            }
            }
            .header_2{

                width:78%;
                display: inline-block;
                .nav_2{
                    display:block;
                    margin: 24px 0px 15px;
                    .nav_2--left{
                        ul{
                            display: flex;
                            list-style-type: none;
                            margin:0px;
                            li{
                                display:inline-block;
                                float:left;
                                width:25%;
                                span{
                                    margin-right: 5px;
                                    float:left;
                                    img{

                                    }
                                }
                                a{
                                    text-decoration: none;
                                    p{
                                        font-size: 12px;
                                        float:none;
                                        margin:0;
                                    }
                                }
                            }
                        }
                    }
                    .nav_2--right{
                        padding:0;
                        ul{
                            display: flex;
                            list-style-type: none;
                            li{
                                display:inline-block;
                                float:right;
                                width:100%;
                                span{
                                    margin-right: 5px;
                                    float:left;
                                    img{

                                    }
                                }
                                a{
                                    float:right;
                                    text-decoration: none;
                                    p{
                                        font-size: 12px;
                                        float:none;
                                        margin:0;
                                    }
                                }
                            }
                        }
                    }
                }
                .search_cart{

                    .search{
                        padding:0 15px 0 0;
                        .contain_input{
                            border-radius:5px;
                            background-color: #ffffff;
                            display: flex;
                        .contain_input--1{
                            display: flex;
                            width:85%;
                            background-color: #ffffff;
                            border-radius:5px 0 0 5px;
                            border-left:2px solid #dddddd;
                                border-top:2px solid #dddddd;
                                border-bottom:2px solid #dddddd;
                                border-right:2px solid #fff;
                            .ct_input--1{
                                width:70%;
                                input.input_dangky{
                                    border:0;
                                    width:60%;
                                    border-radius:5px 0 0 5px;
                                    padding-bottom: 10px;
                                    padding-top: 10px;
                                    width:100%;
                                    padding-left: 10px;
                                    height:100%;
                                }
                            }
                            .ct_input--2{
                                width:30%;
                                span{
                                    position: relative;
                                    top:0px;
                                    color:#dddddd;
                                }
                                select{
                                    height:100%;
                                    margin-top:0 !important;
                                    border:0;
                                    border: none;width:95%;padding:0 10px;
                                }
                            }
                        }
                        .contain_input--2{
                            width:15%;
                            border-radius:5px;
                            button.button_dangky{
                                border-radius:0 5px 5px 0;
                                background-color: #009ffe;;
                                width:100%;
                                height:100%;
                                border:0;
                                line-height: 0;
                                color:#ffffff;
                            }
                        }
                    
                        }
                    }
                    .cart{
                        background-color: #f0f0f0;
                        border-radius:5px;
                        padding: 10px;
                        a{
                            display: flex;
                            span{
                                margin-right:5px;
                                width:20%;
                            }
                            p{
                                margin:0;
                            }
                            .cart_p1{
                                width:60%;
                            }
                            .cart_p2{
                                width:14%; background-color: #009ffe;border-radius:50%;text-align: center;color:white;
                            }
                        }
                    }
                }
                .status{
                    margin-top:5px;
                    p{
                        margin:0;
                        display: inline-block;
                        color:#ff000e;
                    }
                }
            }
        }
    }
}

        section {
            padding: 20px 0;
            .row{
                padding:0;
                margin:0;
            }
            .container {
                padding: 0;

                .col-md-12 {
                    padding: 0;

                    ._progress-bar {
                        margin: 0;
                        padding: 0;
                        border-bottom: 1px solid #009ffe !important;
                        width: 88%;

                        span {
                            position: absolute;
                            bottom: -7px;
                            z-index: 1000;
                            left: 87%;
                        }
                    }
                }

                #nav-content {
                    margin: 0;
                    background-color: #ffffff;

                    ul {
                        list-style-type: none;
                        margin: 0;

                        li {
                            display: block;
                            float: left;
                            padding: 10px 50.5px;

                            a {
                                color: #555555;
                            }

                            &:hover > a {
                                color: #009ffe;
                            }

                            #checked {
                                font-weight: bold;
                                color: #009ffe;
                            }

                            #last-checked {
                                color: #73bffe;
                                font-weight: bold;
                            }
                        }
                    }
                }
                #body-content{
                    margin:10px 0px;
                    background-color:#ffffff;
                    .col-md-3,.col-md-9,.col-md-4,.col-md-6,.col-md-8{
                        margin:0;
                        padding:0;
                    }
                    .body-content-1{
                        padding:0 20px;
                        .content-1a{
                            margin:5px 0px;
                            .ma-don-hang{
                                height:243px;
                                background: url("../img/img-thanhtoanthanhcong.png") no-repeat;
                                background-size:contain;
                                background-position: center;
                                button{
                                    position:absolute;
                                    bottom:0;
                                    left:15%;
                                    background-color:#009ffe;
                                    color:#ffffff;
                                    border:0;
                                    border-radius:15px;
                                }
                            }
                            .ghichu{
                                padding:20px 45px;
                                h4{
                                    color:#009ffe;
                                }
                            }
                        }
                        .content-1b{
                            margin:10px 0px;
                            .thongtin-nguoinhan{
                                h4{
                                    font-weight:bold;
                                }
                                p{
                                    margin-bottom:0px;
                                }
                            }
                            .nav-chiase-sanpham{
                                ul{
                                    margin-top:14%;
                                    list-style-type: none;

                                    li{
                                        float:left;
                                        margin:0px 10px;
                                    }
                                    li.chiase{
                                        padding:5px;
                                        margin:0;
                                    }
                                    li.text{
                                        margin:7px 15px 0px 0px;
                                    }
                                }
                            }
                        }
                    }
                    .body-content-2{
                        .content-2a{
                            padding:0px 20px;
                            table{
                                width:100%;
                                thead{
                                    padding:0px 30px;
                                    background-color:#f5f5f5;
                                    tr{
                                        td{
                                            padding:10px 20px;
                                        }
                                        td.col1{
                                            width:52%;
                                        }
                                        td.col2,td.col3,td.col4{
                                            width:16%;
                                            text-align:center;
                                        }
                                    }
                                }
                                tbody{
                                    padding:0px 20px;
                                    tr{
                                        background-color:#ffffff;
                                        td.col1{
                                            padding:15px 0px;
                                            display:flex;
                                            .thumbnail{
                                                width:20%;
                                                margin-bottom:0px;
                                                img{
                                                    float:left;
                                                    width:100%;
                                                }
                                            }
                                            .ctn_p{
                                                width:80%;
                                                padding:15px;
                                                p{
                                                    float:left;
                                                }
                                            }
                                        }
                                        td.col2,td.col3,td.col4{
                                            text-align:center;
                                            padding:0px 20px;
                                        }
                                    }
                                    tr.row1{
                                        border-bottom:1px dashed #dddddd;
                                    }
                                }
                            }
                        }
                        .content-2b{
                            padding:10px 20px;
                            background-color:#f5f5f5;
                            .content-2b-left{
                                float:left;
                            }
                            .content-2b-right{
                                .row2{
                                    border-bottom:1px dashed #cccccc;
                                }
                                .row3{
                                    margin-top:10px;
                                }
                                .left{
                                    float:left;
                                }
                                .right{
                                    small{
                                        color:#006cc6;
                                    }
                                    strong{
                                        color:#ed0000;
                                    }
                                    float:right;
                                    text-align:right;
                                }
                            }
                        }
                    }
                }
                #tieptuc-muahang{
                    margin:20px 0;
                    button{
                        background-color:#f7941e;
                        padding:15px 30px;
                        color:#ffffff;
                        display:block;
                        margin:0 auto;
                        border-radius:0;
                    }
                }
            }
        }
        .container-fluid{
    margin:0!important;
    padding:0!important;
}
footer {
    .container{
        padding:0;
    }
    .top_footer{
        background-color: #00f38d;
        padding: 15px 0px;
        @media only screen and (min-width: 1200px){
            .container{
                display: flex;
            }
        }
        .container{
            .top_footer--1{
                padding:0;
                h4{
                    display:inline-block;
                    color:#ffffff;
                    font-weight: bold;
                    font-size: 14px;
                }
                .contain_input{
                    background-color: #ffffff;
                    display: flex;
                    .contain_input--1{
                        width:80%;
                        background-color: #ffffff;
                        input.input_dangky{
                            border:1px solid #fff;
                            padding-bottom: 10px;
                            padding-top: 10px;
                            width:100%;
                            padding-left: 10px;
                            height:100%;
                        }
                    }
                    .contain_input--2{
                        width:20%;
                        
                        button.button_dangky{
                            background-color: #009ffe;
                            width:100%;
                            height:100%;
                            border:0;
                            line-height: 0;
                            color:#ffffff;
                        }
                    }
                    
                }
            }
            .top_footer--2{
                h4{
                    display:inline-block;
                    color:#ffffff;
                    font-weight: bold;
                    font-size: 14px;
                }
                .footer--contain_list{
                    margin-top:7px;
                    display:flex;
                    .contain_icon{
                        width:22%;
                        margin-right:10px;
                        a{
                            img{
                                width:100%;
                            }
                        }
                    }
                }
            }
            .top_footer--3{
                padding:0;
                h4{
                    font-size: 14px;
                    display:inline-block;
                    color:#ffffff;
                    font-weight: bold;
                }
                .footer--contain_list{
                    margin-top:7px;
                    display:flex;
                    .contain_icon{
                        width:22%;
                        margin-right:10px;
                        a{
                            img{
                                width:100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .body_footer{
        background-color: #009ffe;
        padding:10px 0px;
        .body_footer--1{
            padding:0;
            h4{
                color:#fff;
                font-size: 14px;
                font-weight: bold;
            }
            ul{
                list-style-type: none;
                li{
                    float:none;
                    padding-top:2px;
                    padding-bottom:2px;
                    a{
                        font-size: 12px;
                        display:block;
                        text-decoration: none;
                        color:#bfe6ff;
                        &:hover{
                            color:orange;
                        }
                    }
                }
            }
        }
        .body_footer--2,.body_footer--3{
            @extend .body_footer--1;
        }
        .body_footer--4{
            padding:0;
            h4{
                text-align: center;
                color:#fff;
                font-size: 14px;
                font-weight: bold;
            }
            .list_community{
                display: block;
                ul{
                    display:block;
                    margin:0 auto;
                    width:60%;
                    list-style-type: none;
                    li{
                        float:left;width:25%;text-align: center;
                        a{

                        }
                    }
                }
            }
            .bigFour{
                margin-top:10px;
                ul{
                    li.lazada{
                        width:47%;margin:10px 3% 5px 0;display: inline-block; float:left;
                    }
                    li.shopee{
                        width:47%;margin:10px 0 5px;display: inline-block; float:left;
                    }
                    li.sendo{
                        width:47%;margin:5px 3% 5px 0;display: inline-block; float:left;
                    }
                    li.tiki{
                        width:47%;margin:5px 0;display: inline-block; float:left;
                    }
                }
            }
        }
    }
    .bottom_footer{
        padding-top: 5px;
        background-color: #018fe4;
        h5{
            color:#7ed2fd; text-align: center;font-size: 12px;
            margin:0 0 5px 0;
        }
    }
}
    }
